{% extends "base.html" %}

{% block content %}
  <div class="button-container">
    <a href="{% url 'agency:newspaper-create' %}" class="button">Add</a>
  </div>

  <h1 style="text-align: center;">Newspapers</h1>

  <div class="search-container">
    <form action="" method="get" style="display: flex; align-items: center;">
      {{ search_form }}
      <input type="submit" value="🔎" style="margin-left: 5px;">
    </form>
  </div>

<div class="newspaper-container">
    {% if newspaper_list %}
        {% for newspaper in newspaper_list %}
            <div class="newspaper">
                <a href="{{ newspaper.get_absolute_url }}">
                    <h3>{{ newspaper.title }}</h3>
                </a>
                <p>Topic: <a href="{{ newspaper.topic.get_absolute_url }}">{{ newspaper.topic }}</a></p>
                <p>Date of Publication: {{ newspaper.published_date }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>We don't have any newspapers right now.</p>
    {% endif %}
</div>

{% endblock %}
