{% extends "base.html" %}

{% block content %}
  <div class="button-container">
    <a href="{% url 'agency:redactor-create' %}" class="button">Add</a>
  </div>
  <h1 style="text-align: center;">Redactors</h1>

  <div style="width: 15%;">
    <form action="" method="get" style="display: flex; align-items: center;">
      {{ search_form }}
      <input type="submit" value="🔎" style="margin-left: 5px;">
    </form>
  </div>



  {% if redactor_list %}
    <table class="table">
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Years of experience</th>
      </tr>
      {% for redactor in redactor_list %}
        <tr>
          <td>
            <a href="{{ redactor.get_absolute_url }}">
              {{ redactor.username }} {% if user == redactor %} (Me){% endif %}
            </a>
          </td>
          <td>{{ redactor.first_name }}</td>
          <td>{{ redactor.last_name }}</td>
          <td>{{ redactor.years_of_experience }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>We don't have redactors right now.</p>
  {% endif %}
{% endblock %}