{% extends "base.html" %}

{% block content %}

  <div class="button-container">
    <a href="{% url 'agency:topic-create' %}" class="button">Add</a>
  </div>

  <h1 style="text-align: center;">Topics</h1>

  <div class="search-container">
    <form action="" method="get" style="display: flex; align-items: center;">
      {{ search_form }}
      <input type="submit" value="🔎" style="margin-left: 5px;">
    </form>
  </div>

  <div class="topic-container">
    {% if topic_list %}
      {% for topic in topic_list %}
        <div class="topic-bubble">
          <a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p>We don't have any topics right now.</p>
    {% endif %}
  </div>

{% endblock %}
